<div *ngIf="settings" class="p-g" rte="Rf">
    <form #form="ngForm" class="inputs-group p-g-12" (ngSubmit)="save()" rte="Rg">
        <div class="inputs-group-row" rte="Rh">
            <div class="inputs-group-row-name" rte="Ri">User password re-use:</div>
            <div class="inputs-group-row-value" rte="Rj">
                <p-radioButton [(ngModel)]="settings.passwordReuse"
                               label="Users may re-use passwords."
                               name="pswRadioGroup"
                               [value]="0"
                               class="inputs-group-row-value-item"
                               rte="Rk">
                </p-radioButton>
                <p-radioButton [(ngModel)]="settings.passwordReuse"
                               label="Users may never use a password that they previously used."
                               name="pswRadioGroup"
                               [value]="1"
                               class="inputs-group-row-value-item"
                               rte="Rl">
                </p-radioButton>
                <p-radioButton [(ngModel)]="settings.passwordReuse"
                               label="Users may use any password that they haven’t used in the last number of passwords."
                               name="pswRadioGroup"
                               [value]="2"
                               class="inputs-group-row-value-item"
                               rte="Rm">
                </p-radioButton>
                <p-inputNumber *ngIf="settings.passwordReuse === 2"
                               [(ngModel)]="settings.lastPasswordsNumber"
                               [showButtons]="true"
                               [min]="0"
                               name="lastPasswordsNumber"
                               class="inline-text-input inputs-group-row-value-item"
                               rte="Rn">
                </p-inputNumber>
            </div>
        </div>

        <div class="inputs-sub-group-name" rte="Ro">
            Password settings such as "Min password length", "Valid characters"
        </div>
        <div class="inputs-group-row" rte="182">
            <div class="inputs-group-row-name" rte="183">
                Common strength:
                <bb-tooltip message="This value defines a common requirements to the password validity. Password values unsatisfied this level will be invalid despite settings below." rte="184"></bb-tooltip>
            </div>
            <div class="inputs-group-row-value" rte="185">
                <p-inputNumber [(ngModel)]="settings.strength"
                               [showButtons]="true"
                               [min]="2"
                               [max]="4"
                               required
                               name="strength"
                               class="inline-text-input"
                               rte="186">
                </p-inputNumber>
            </div>
        </div>
        <div class="inputs-group-row" rte="187">
            <div class="inputs-group-row-name" rte="188">Minimum password length:</div>
            <div class="inputs-group-row-value" rte="189">
                <p-inputNumber [(ngModel)]="settings.minPasswordLength"
                               [showButtons]="true"
                               [min]="8"
                               required
                               name="minPasswordLength"
                               class="inline-text-input"
                               rte="18a">
                </p-inputNumber>
            </div>
        </div>

        <div class="inputs-sub-group-name" rte="RA">
            Password saving settings (On/Off Autocomplete for Password/Email inputs)
        </div>
        <div class="inputs-group-row" rte="RB">
            <div class="inputs-group-row-name empty-row-name" rte="RC"></div>
            <div class="inputs-group-row-value" rte="RD">
                <p-checkbox [(ngModel)]="settings.autocomplete"
                            label="Password saving"
                            [binary]="true"
                            name="autocomplete"
                            rte="RE">
                </p-checkbox>
            </div>
        </div>

        <div class="inputs-sub-group-name" rte="1rm">Password reset settings</div>
        <div class="inputs-group-row" rte="1rn">
            <div class="inputs-group-row-name" rte="1ro">
                Password reset expiry
                <bb-tooltip message="How many days for Password Reset tokens to remain valid." rte="1rp"></bb-tooltip>
            </div>
            <div class="inputs-group-row-value" rte="1rq">
                <p-inputNumber
                    [(ngModel)]="settings.passwordResetTokenExpireInDays"
                    [showButtons]="true"
                    [min]="1"
                    required
                    name="passwordResetTokenExpireInDays"
                    class="inline-text-input"
                 rte="1rr">
                </p-inputNumber>
            </div>
        </div>

        <div class="buttons-panel" rte="RF">
            <button pButton type="submit" label="Save" [disabled]="!form.valid" rte="RG"></button>
        </div>
    </form>
</div>
