:host ::ng-deep {
    .right-side {
        .offline-indicator {
            height: 20px;
            margin-right: 1em;

            @media (max-width: 360px) {
                margin-right: 5px;
            }
        }
        
        #topbar-menu-button {
            @media (max-width: 1025px){                
                img {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                }
            }
        }        

        .topbar-items {
            @media (min-width: 1025px) {
                .loading-time-button {
                    margin-top: 1px;

                    i {
                        font-size: 29px;
                    }
                }
                .development-tools-button {
                    margin-top: 1px;

                    i {
                        font-size: 27px;
                    }
                }
                .feedback-button {
                    margin-top: 1px;

                    i {
                        font-size: 25px;
                    }
                }
            }
        }
    }
    .user-data {
        text-align: right;

        .user-name, .user-roles {
            display: block;
            text-overflow: ellipsis;
            white-space: pre;
            overflow: hidden;
            font-size: 13px;
            color: #00000099;
        }
        .user-roles {
            opacity: .9;
        }
    }
}