.slider {
    -webkit-transition: 0.3s linear all;
    transition: 0.3s linear all;
    position: fixed;
    width: 65%;
    z-index: 1000;
    background: transparent;
}

.container {
    height: auto;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: white;
}

@media (min-width: 768px) {
    .container {
        width: 150px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 250px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 440px;
    }
}
