<div class="card--hidden" rte="ux">
    <h1 rte="uy">Accessible to Note 1</h1>
    <p rte="uz">
        This page requires a user to have the permission 'Access Control Demo –
        View Note 1'.
    </p>
    <br />
    <p rte="uA">
        <em rte="uB"
            >“When you don't create things, you become defined by your tastes
            rather than ability. Your tastes only narrow & exclude people. So
            create.”</em
        >
    </p>
    <p rte="uC">― Why The Lucky Stiff</p>
</div>
