<div class="card--hidden" rte="v2">
    <h1 rte="v3">Read Me First</h1>

    <p rte="v4">
        The pages in this submenu demonstrate the application of security and
        also impersonation. To impersonate a user, you will need to login as
        user with SystemAdmin role. Once logged in as such a user, you can go to
        the users page, click on a user, and click on the “Impersonate this
        user” link.
    </p>
    <p rte="v5">The full list of pages in this area are:</p>
    <ul rte="v6">
        <li rte="v7">Any Authenticated - available to any logged in user</li>
        <li rte="v8">Groups - to manage all groups of the project</li>
        <li rte="v9">Group A - available to members of group A</li>
        <li rte="va">Group B - available to members of group B</li>
        <li rte="vb">
            Note 1 - available to users with the permission 'Access Control Demo
            – View Note 1'
        </li>
        <li rte="vc">
            Note 2 - available to users with the permission 'Access Control Demo
            – View Note 2'
        </li>
    </ul>
    <p rte="vd">
        You won’t normally see all those menu items at one time – you will need
        to impersonate to see some of them.
    </p>
    <p rte="ve">
        Note well: group membership rules and user interface vary radically
        between projects. For the purposes of the demo, the users
        'manager-in-group-[x]&#64;bbconsult.co.uk' have been created with group
        membership.
    </p>
    <p rte="vf">
        Group membership is the most typical of resource-based security
        constraints: if the user belongs to group X, and the resource belongs to
        group X then the user may see the resource.
    </p>
    <p rte="vg">
        It is not typical to make menu items dependent on group membership, but
        we demonstrate here that it is possible.
    </p>
</div>
