<ng-container *ngIf="feedback?.valid === false; else successMessage">
    <div class="feedback-rules-container" rte="Xn">
        <span class="feedback-label" rte="Xo">Password requirements</span>

        <!-- <small class="feedback-warning">{{feedback.feedback.warning}}</small> -->

        <ng-container *ngIf="feedback?.feedback?.suggestions?.length">
            <ng-container *ngIf="feedback.feedback.suggestions">
                <span *ngFor="let suggestion of feedback.feedback.suggestions" class="feedback-suggestion" rte="Xr">
                    {{suggestion}}
                </span>
            </ng-container>
        </ng-container>
        <span class="feedback-suggestion" *ngIf="!feedback.resultValidation.isMinlength" rte="Xs">{{feedback.resultValidation.minLength}} {{minimumLabel}}.</span>
        <span class="feedback-suggestion" *ngIf="validCharactersSettings.lowercase && !feedback.resultValidation.isLowercase" rte="Xt">{{lowercaseLabel}}.</span>
        <span class="feedback-suggestion" *ngIf="validCharactersSettings.uppercase && !feedback.resultValidation.isUppercase" rte="Xu">{{uppercaseLabel}}.</span>
        <span class="feedback-suggestion" *ngIf="validCharactersSettings.numbers && !feedback.resultValidation.isNumbers" rte="Xv">{{numberLabel}}.</span>
        <span class="feedback-suggestion" *ngIf="validCharactersSettings.special && !feedback.resultValidation.isSpecial" rte="Xw">{{specialLabel}}.</span>
    </div>
</ng-container>
<ng-template #successMessage>
    <div class="feedback-success-container" rte="Xy">
        <span class="feedback-label" rte="Xz">{{messageDone}}</span>
    </div>
</ng-template>
