:host {
    .feedback-label {
        display: block;
        font-size: 1em;
    }
    .feedback-suggestion {
        display: block;
        margin-top: 2px;
        font-size: 12px;
    }
    .feedback-rules-container {
        border-color: #fbeed5;
        background-color: #fcf8e3;
        color: #c09853;

        .feedback-warning {
            color: #a94442;
        }
    }
    .feedback-success-container {
        color: #3c763d;
        background: #dff0d8;
    }

    .feedback-rules-container, .feedback-success-container {
        margin: 10px 0 20px 0;
        padding: 10px;
        border-radius: 4px;
    }
}