<h1 rte="70">Forgot password?</h1>

<span class="page-sub-header" rte="71">To reset your password, type the full email address you use to sign in to your account</span>

<form #form="ngForm" class="inputs-group" (ngSubmit)="onSubmit()" rte="72">
    <div class="inputs-group-row" rte="73">
        <span class="p-float-label inputs-group-row-value" rte="74">
            <input pInputText
                   [(ngModel)]="email"
                   type="email"
                   id="email"
                   name="email"
                   autocomplete="off"
                   required
                   [pattern]="_ValidationPatterns.email"  rte="75"/>
            <label for="email" rte="76">Email</label>
        </span>
    </div>

    <div class="buttons-panel buttons-panel-center-alignment" rte="77">
        <button pButton type="button" label="Back to login" routerLink="/account/login" class="p-button-secondary" rte="78"></button>
        <button pButton type="submit" label="Send" [disabled]="form.invalid" rte="79"></button>
    </div>
</form>