<h1 rte="5I">Reset password</h1>

<ng-container [ngSwitch]="status">
    <p *ngSwitchCase="resetPasswordStatusEnum.Loading" rte="5K">
        Loading...
    </p>
    <ng-container *ngSwitchCase="resetPasswordStatusEnum.RecoveryCodeCheckFail">
        <p rte="5M">Operation is unavailable. Seems that you've already used this link.</p>
        <p rte="5N">Please contact your system administrator.</p>
        <p rte="5O"><a routerLink="/account/login" rte="5P">Back to the Login page</a></p>
    </ng-container>
    <ng-container *ngSwitchCase="resetPasswordStatusEnum.UserEmailLoadingError">
        <p rte="5R">User not found.</p>
        <p rte="5S">Please contact your system administrator.</p>
        <p rte="5T"><a routerLink="/account/login" rte="5U">Back to the Login page</a></p>
    </ng-container>
    <ng-container *ngSwitchCase="resetPasswordStatusEnum.OperationCompleted">
        <p rte="5W">Your password has been reset.</p>
        <p rte="5X">Please <a routerLink="/account/login" rte="5Y">Click here to log in</a>.</p>
    </ng-container>

    <form *ngSwitchCase="resetPasswordStatusEnum.FormReady"
          #form="ngForm"
          class="inputs-group top-placed-labels"
          (ngSubmit)="onSubmit()" rte="5Z">
        <div *ngIf="reasonMessage" style="margin-bottom:20px; text-align:justify;">
            {{reasonMessage}}
        </div>
        <div class="inputs-group-row" rte="60">
            <span class="inputs-group-row-value" style="text-align:initial;" rte="61">Email: {{email}}</span>
        </div>
        <div class="inputs-group-row" rte="62">
            <div class="inputs-group-row-value" rte="63">
                <span class="p-float-label" rte="64">
                    <input #passwordInput="ngModel"
                           pPassword
                           showPassword
                           noSideWhitespaces
                           [(ngModel)]="password"
                           [feedback]="false"
                           id="password"
                           name="password"
                           autocomplete="off"
                           required
                           strongPassword
                           [maxLength]='200'
                           [validCharactersSettings]="validCharacter"
                           rte="65" />
                    <label for="password" rte="66">New password</label>
                    <password-score *ngIf="passwordInput.dirty" [password]="passwordInput.value" rte="18k"></password-score>
                    <span *ngIf="passwordInput.control.hasError('side-whitespaces')" class="validation-error" rte="18l">Your passwords can't start or end with a blank space</span>
                </span>
                <password-feedback *ngIf="passwordInput.dirty" [feedback]="passwordInput.errors?.strongPassword" [validCharactersSettings]="validCharacter" rte="69"></password-feedback>
            </div>
        </div>
        <div class="inputs-group-row" rte="6a">
            <div class="inputs-group-row-value" rte="6b">
                <span class="p-float-label" rte="6c">
                    <input #confirmPassword
                           pPassword
                           showPassword
                           noWhitespaces
                           id="confirmPassword"
                           name="confirmPassword"
                           autocomplete="off"
                           required
                           [match]="password"
                           [feedback]="false"
                           rte="6d" />
                    <label for="confirmPassword" rte="6e">Confirm new password</label>
                </span>
                <password-match [confirmPassword]="confirmPassword.value" [password]="password" rte="6f"></password-match>
            </div>
        </div>

        <div class="buttons-panel buttons-panel-center-alignment" rte="6g">
            <button pButton type="button" label="Back to login" class="p-button-secondary" routerLink="/account/login" rte="6h"></button>
            <button pButton type="submit" label="Save" [disabled]="form.invalid || confirmPassword.value !== password" rte="6i"></button>
        </div>
    </form>

    <div *ngSwitchCase="resetPasswordStatusEnum.AuthenticatorAppStep" rte="1d7">

        <span class="page-sub-header" rte="1iy">Please use your mobile app to get the two-factor code and enter it below</span>

        <form *ngIf="resetPasswordStatusEnum.AuthenticatorAppStep"
              #form="ngForm"
              class="inputs-group"
              (ngSubmit)="verify2faCode()"
              (keydown.enter)="form.valid" rte="7M">
            <div class="inputs-group-row" rte="7N">
                <span class="p-float-label inputs-group-row-value" rte="7O">
                    <input pInputText
                           [(ngModel)]="twoFactorCode"
                           id="2fa"
                           name="twoFactorCode"
                           autocomplete="off"
                           required rte="7P" />
                    <label for="2fa" class="asterisk-mark" rte="7Q">Authenticator code</label>
                </span>
            </div>

            <button pButton
                    type="submit"
                    label="Verify"
                    [disabled]="form.invalid"
                    class="full-width-button button-text-center" rte="7R">
                <i class="material-icons" rte="7S">person</i>
            </button>
        </form>
    </div>
</ng-container>
