<div class="inputs-group" rte="1x1">
    <div class="inputs-group-row" rte="1x2">
        <label class="inputs-group-row-name details-header" rte="1x3">IP:</label>
        <div class="inputs-group-row-value" rte="1x4">{{log.iP}}</div>
    </div>
    <div class="inputs-group-row" rte="1x5">
        <label class="inputs-group-row-name details-header" rte="1x6">Server name:</label>
        <div class="inputs-group-row-value" rte="1x7">{{log.server}}</div>
    </div>
    <div class="inputs-group-row" rte="1x8">
        <label class="inputs-group-row-name details-header" rte="1x9">User name:</label>
        <div class="inputs-group-row-value" rte="1xa">{{log.userName}}</div>
    </div>
    <div class="inputs-group-row" rte="1xb">
        <label class="inputs-group-row-name details-header" rte="1xc">HTTP:</label>
        <div class="inputs-group-row-value" rte="1xd">{{log.httpStatus}}</div>
    </div>
    <div class="inputs-group-row" rte="1xe">
        <label class="inputs-group-row-name details-header" rte="1xf">Trace ID:</label>
        <div class="inputs-group-row-value" rte="1xg">{{log.errorId}}</div>
    </div>
    <div class="inputs-group-row" rte="1xh">
        <label class="inputs-group-row-name details-header" rte="1xi">Source:</label>
        <div class="inputs-group-row-value" rte="1xj">{{log.source}}</div>
    </div>
    <div class="inputs-group-row" rte="1xk">
        <label class="inputs-group-row-name details-header" rte="1xl">Debug message:</label>
        <div class="inputs-group-row-value" rte="1xm">{{log.logEvent}}</div>
    </div>
    <div class="inputs-group-row" rte="1xn">
        <label class="inputs-group-row-name details-header" rte="1xo">Message:</label>
        <div class="inputs-group-row-value" rte="1xp">{{log.message}}</div>
    </div>
    <div class="inputs-group-row" rte="1xq">
        <label class="inputs-group-row-name details-header" rte="1xr">Log details:</label>
        <div class="inputs-group-row-value" rte="1xs">{{log.exception}}</div>
    </div>
</div>