<h1 style="color: #4d4ddb">Reporting v3 | Sample Widgets</h1>
<span class="page-sub-header">
    This section demonstrates different widget types created in Reporting V3 as named widgets and
    added as hardcoded into front-end code as HTML markup. Each widget is identified via its string code.
</span>

<p-tabView>
    <p-tabPanel header="Control Set & Table Widgets">
        <reporting-widget code="control-set-Demo-Loading-Time-Filters"></reporting-widget>
        <reporting-widget code="table-Demo-Page-Loading-Time"></reporting-widget>
    </p-tabPanel>
    <p-tabPanel header="HTML & Chart Widgets">
        <div style="width: 30%; display: inline-block; vertical-align: top">
            <reporting-widget code="html-Demo-What-is-Page-Load-Time"></reporting-widget>
        </div>
        <div style="width: 70%; display: inline-block; vertical-align: top">
            <reporting-widget code="chart-Demo-Loading-Time-Chart"></reporting-widget>
        </div>
    </p-tabPanel>
</p-tabView>

<h1 style="padding-top: 30px; color: #4d4ddb">Reporting v3 | Single Dashboard</h1>
<span class="page-sub-header">
    This section demonstrates single dashboard created in Reporting V3 and added as hardcoded into
    front-end code as HTML markup. A dashboard is identified via its string code.
</span>
<reporting-dashboard code="Demo-Article"></reporting-dashboard>
