 .scheduler-table {
    background-color: var(--surface-a);
}

.p-datatable-wrapper {
    background-color: var(--surface-a);
    padding: 1rem;
    border: 0px none;
    color: rgb(0, 0, 1);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;}