:host {
    .password-match-warning-container {
        margin: 10px 0 20px 0;
        padding: 10px;
        border-radius: 4px;
        border-color: #fbeed5;
        background-color: #fcf8e3;
        color: #c09853;

        .password-match-label {
            display: block;
            font-size: 1em;
        }
    }
}