$primaryColor: #009688;
$primaryDarkColor: #00695c;
$primaryLightColor: #80cbc4;
$primaryTextColor: #ffffff;
$accentColor: #cddc39;
$accentDarkColor: #9e9d24;
$accentLightColor: #e6ee9c;
$accentTextColor: #000000de;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #cddc39;
$lightMenuRouterLinkActiveColor: #009688;
$horizontalLightMenuRouterLinkActiveColor: #cddc39;

@import "../../sass/layout/_layout";
