$primaryColor: #673ab7;
$primaryDarkColor: #4527a0;
$primaryLightColor: #b39ddb;
$primaryTextColor: #ffffff;
$accentColor: #ffc107;
$accentDarkColor: #ff8f00;
$accentLightColor: #ffe082;
$accentTextColor: #000000de;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #ffc107;
$lightMenuRouterLinkActiveColor: #673ab7;
$horizontalLightMenuRouterLinkActiveColor: #ffc107;

@import "../../sass/layout/_layout";
