<div class="card--hidden" rte="oV">
    <h1 rte="oW">Raygun</h1>

    <span class="page-sub-header" rte="oX"
        >This is a form for some complex data to test dynamic form layout and
        usability.</span
    >

    <p rte="oY">
        Raygun is an error, crash and performance monitoring software:
        <a
            href="https://app.raygun.com/"
            target="_blank"
            rel="noopener noreferrer"
            rte="oZ"
            >Raygun</a
        >
    </p>
    <p rte="p0">
        With Raygun, you can see in real time every error and performance issue
        negatively affecting users.
    </p>
    <button
        pButton
        type="button"
        (click)="GenerateException()"
        label="Generate error"
        style="background-color: darkred"
        class="btn-standard-size"
        rte="p1"
    >
        <i class="material-icons" rte="p2">error</i>
    </button>
</div>
