.score {
    border-color: #fbeed5;
    background-color: #fcf8e3;
    color: #c09853;
    box-sizing: content-box;
    border-radius: 4px;
    padding: 2px 5px 5px 6px;
}

.p-progressbar {
    background-color: inherit;
    height: 1rem;

    .p-progressbar-value {
        height: 10px;
    }
}

.p-progressbar-label {
    color: black !important;
}
