<div class="card--hidden" rte="H6">
    <h1 rte="H7">Buttons</h1>

    <p rte="H8">
        Within a form page, buttons should align with the left edge of the text.
        <br />
        Within a pop-up dialog that that has labelled controls, buttons should
        align with the controls. <br />
        Within a pop-up dialog that contains no labelled controls, buttons
        should align centrally.
        <br />
    </p>

    <div class="p-g" rte="H9">
        <div class="p-g-12" rte="Ha">Button</div>

        <div class="p-g-12" rte="Hb">
            <button
                class="p-grid-row"
                type="button"
                pButton
                label="Button"
                rte="Hc"
            ></button>
            <button
                class="p-grid-row p-button-secondary"
                type="button"
                pButton
                label="Button"
                rte="Hd"
            ></button>
            <button
                class="p-grid-row p-button-success"
                type="button"
                pButton
                label="Button"
                rte="He"
            ></button>
            <button
                class="p-grid-row p-button-info"
                type="button"
                pButton
                label="Button"
                rte="Hf"
            ></button>
            <button
                class="p-grid-row p-button-warning"
                type="button"
                pButton
                label="Button"
                rte="Hg"
            ></button>
            <button
                class="p-grid-row p-button-danger"
                type="button"
                pButton
                label="Button"
                rte="Hh"
            ></button>
        </div>
    </div>
    <p rte="Hi"></p>
    <pre class="codeHighlight" rte="Hj">
        &lt;div class=&quot;p-g&quot;&gt;
            &lt;div class=&quot;p-g-12&quot;&gt;
                &lt;button class=&quot;p-grid-row&quot; type=&quot;button&quot; pButton label=&quot;Button&quot;&gt;&lt;/button&gt;
                &lt;button class=&quot;p-grid-row p-button-secondary&quot; type=&quot;button&quot; pButton label=&quot;Button&quot;&gt;&lt;/button&gt;
                &lt;button class=&quot;p-grid-row p-button-success&quot; type=&quot;button&quot; pButton label=&quot;Button&quot;&gt;&lt;/button&gt;
                &lt;button class=&quot;p-grid-row p-button-info&quot; type=&quot;button&quot; pButton label=&quot;Button&quot;&gt;&lt;/button&gt;
                &lt;button class=&quot;p-grid-row p-button-warning&quot; type=&quot;button&quot; pButton label=&quot;Button&quot;&gt;&lt;/button&gt;
                &lt;button class=&quot;p-grid-row p-button-danger&quot; type=&quot;button&quot; pButton label=&quot;Button&quot;&gt;&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    </pre>

    <p rte="Hk">
        Use "Save" as a button title on Edit pages, not "OK".
        <br />
        Use "Save" as a button title on popups that immediately commit data to
        the database, not "OK". <br />
        On tabs, place the Save button outside the tab control, and when Save is
        hit, validate all the tab pages and then save all the changes on the tab
        pages. <br />
        Button labels should be verbs or short verb phrases, e.g. "Register",
        but not "No Registration".
        <br />
        <br /><strong rte="Hl">Demo pages for buttons usage:</strong> <br /><a
            routerLink="/app/demo/grid-master-detail/page"
            rte="Hm"
            >Page Edit</a
        >
        <br /><a routerLink="/app/demo/grid-master-detail/edit/0" rte="Hn"
            >Add Order</a
        >
        <br /><a routerLink="/app/demo/grid-master-detail/inline" rte="Ho"
            >Inline Edit</a
        >
        <br /><a routerLink="/app/demo/grid-master-detail/page" rte="Hp"
            >Popup Edit</a
        >
        <br />
    </p>
</div>
