<div class="card--hidden" rte="Ku">
    <h1 rte="Kv">Headings</h1>

    <p rte="Kw">The heading above is an &lt;h3&gt; tag:</p>
    <pre class="codeHighlight" rte="Kx">
                &lt;h3&gt;Headings&lt;/h3&gt;
            </pre
    >

    <p rte="Ky">
        Here is an &lt;h3&gt; tag, which we use at the top of the page
    </p>
    <h1 rte="Kz">Page Title</h1>

    <pre class="codeHighlight" rte="KA">
                &lt;h1&gt;Page Title&lt;/h1&gt;
            </pre
    >

    <p rte="KB">
        In some sites we want a sub-part of the heading, which indicates an
        object ID or similar. We do that with a &lt;small&gt; inside the h1 tag:
    </p>
    <h1 rte="KC">
        Edit
        <small rte="KD">Brake Part #23445</small>
    </h1>
    <pre class="codeHighlight" rte="KE">
                &lt;h1&gt;Edit &lt;small&gt;Brake Part #23445&lt;/small&gt;&lt;h1&gt;
            </pre
    >
    <p rte="KF">
        Prefer tabs to header sections when the page will see lots of use by
        inexperienced users.
    </p>
</div>
