.meter {
    height: 8px;
    margin: 2px 0;
    display: flex;

    .section {
        flex: 1;
        margin-right: 5px;
        transition: background-color 1s linear;

        &:last-child {
            margin-right: 0;
        }
    }

    &.level-0 .section:first-child {
        background-color: #a94442;
    }

    &.level-1 .section:nth-child(-n+2) {
        background-color: orangered;
    }

    &.level-2 .section:nth-child(-n+3) {
        background-color: yellow;
    }

    &.level-3 .section:nth-child(-n+4) {
        background-color: greenyellow;
    }

    &.level-4 .section:nth-child(-n+5) {
        background-color: #42A948;
    }
}