<div class="container home">
    <div class="home__header">
        <div class="home__overlay"></div>
        <div class="home__header-content text-center mx-auto">
            <h1 class="home__content--title text-center">
                Blueberry Web Template
            </h1>
            <div class="home__header-content--img text-center mx-auto">
                <img
                    src="/assets/images/home-page/logo.svg"
                    alt="Blueberry Web Template Logo - Custom Software - Blueberry Consultants Ltd."
                />
            </div>
            <h2 class="text-center">
                Custom Software in a Box. Some Assembly Required.
            </h2>

            <h5 class="text-center mt-4">*Batteries not included.</h5>

            <h3 class="text-center mt-5">
                Blueberry Web Template is much more than just a development
                framework or technology stack. It comes with all the core
                binding code needed to build a complete modern app.
            </h3>
        </div>
    </div>
    <section class="home__text-block">
        <div class="home__text-block--container mx-auto">
            <p class="text">
                Blueberry Web Template is designed by us for building modern
                business web apps for our clients. Using pre-built modules, it
                delivers powerful apps quickly.
            </p>
        </div>
    </section>
</div>
